build --action_env=CC=mpicc 
build --action_env=CXX=mpicpc
build --cxxopt='-std=c++2a'
build --cxxopt='-m64'
build --linkopt='-ldl -lpthread -lstdc++fs'

build --experimental_repo_remote_exec

############################################################################
# All default build options below.

# Sets the default Apple platform to macOS.
build --apple_platform_type=macos
build --macos_minimum_os=10.14

# Make Bazel print out all options from rc files.
build --announce_rc

build --define open_source_build=true

build --spawn_strategy=standalone

build --enable_platform_specific_config

build --experimental_cc_shared_library

# Disable enabled-by-default TensorFlow features that we don't care about.
build --define=no_aws_support=true
build --define=no_gcp_support=true
build --define=no_hdfs_support=true
build --define=no_kafka_support=true
build --define=no_ignite_support=true

build --define=grpc_no_ares=true

build --define=tsl_link_protobuf=true

build -c opt

build:linux --cxxopt=-std=c++17
build:linux --host_cxxopt=-std=c++17

# build --config=short_logs

build --copt=-DMLIR_PYTHON_PACKAGE_PREFIX=jaxlib.mlir.

# Later Bazel flag values override earlier values; if CUDA/ROCM/TPU are enabled,
# these values are overridden.
build --@org_tensorflow//tensorflow/compiler/xla/python:enable_gpu=false
build --@org_tensorflow//tensorflow/compiler/xla/python:enable_tpu=false